@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
html,
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
.full-screen-container {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #6798b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: hsla(201, 100%, 6%, 0.6); */
  padding: 50px 30px;
  min-width: 400px;
  width: 50%;
  max-width: 600px;
}
.login-title {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: normal;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-group label {
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 7px;
}
.input-group input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 915, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: #000;
  font-weight: lighter;
}
.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}
.login-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsl(201, 100%, 50%);
  background-color: hsla(201, 100%, 50%, 0.1);
  font-size: 1.5em;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
.login-button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}
.login-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found h1 {
  font-family: 'Rubik Microbe', cursive;
}
